.one{
	margin-left: auto;
	margin-right:auto;
	width:80%;
}
.logoHeader{
	margin-right: 75%;
}
.experience{
	margin-left: 3%;
}
#imgExp{
	margin-right:3%;
}
#imgLog{
	margin-left:5%;
	margin-right:3%;
}
.input{
	margin-left: 5%;
	width: 20%;
	float: left;
}
.liste{
	float: left;
}
.footer{
	clear:left;
}
.logoFooter{
	margin-right:40%;
}